* {
    background-color: var(--bg);
    overflow-x: hidden;
}
main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    overflow-x: hidden;
}
header {
    align-items: center;
    display: flex;
    padding: 3rem;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
button {
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
section .container button img {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 60%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 300ms ease;
}
section .container img:hover { 
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    section .container button img {
        width: 50%;
    }
}